<div class="central-div ">
    <nb-card>
        <nb-card-header>Input the url that you want to have shortened</nb-card-header>
        <nb-card-body>
            <form id="urlForm" #urlForm="ngForm" (ngSubmit)="onSubmit(urlForm)">
                <input type="text" nbInput placeholder="Paste link here" style="width: 100%" name="link" ngModel
                    required>
            </form>
            <br>
            <nb-card *ngIf="shortenedLink" style="margin-bottom: 10px;">
                <nb-card-body>
                    Short link suffix: {{shortenedLink.short_link_suffix}} <br>
                    Link ID: {{shortenedLink.id}} <br>
                </nb-card-body>
            </nb-card>
        </nb-card-body>
        <nb-card-footer>
            <button form="urlForm" nbButton [disabled]="!urlForm.form.valid">Shorten</button>
        </nb-card-footer>
    </nb-card>
</div>