.container {
    display: grid;
    grid-template-columns: min-content 10px auto;
    grid-template-rows: 100%;
}

.card-left {
    grid-column-start: 1;
    nb-card-header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

.card-right {
    grid-column-start: 3;

}