<div class="container">
<nb-card class="card-left">
    <nb-card-header>
        
        <input nbInput placeholder="Pick Date" [nbDatepicker]="formcontrol" [formControl]="dateFormControl"> 
        <nb-datepicker #formcontrol></nb-datepicker>
        <div style="margin-top: 10px">Clicks count: {{unshortenings?.length}}</div>
    </nb-card-header>
        <nb-list>
            <nb-list-item *ngFor="let us of unshortenings">
                {{displayTime(us.time)}}
            </nb-list-item>
        </nb-list>
</nb-card>

<nb-card class="card-right">
    <app-short-link-statistics-chart></app-short-link-statistics-chart>
</nb-card>
</div>